<!-- people/templates/people/person_success.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .form-container {
            width: 100%;
            max-width: 500px; /* Adjust the max-width as needed */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2> Successfully You Are Loggedin!</h2>
    <!-- <a href="{% url 'user_create_view' %}" class="btn btn-primary">Login Again</a> -->
</div>
</body>
</html>
