<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .form-container {
            width: 100%;
            max-width: 500px; /* Adjust the max-width as needed */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2 class="text-center">Login Here</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Email address</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
